<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <#include "../../base/base.html"/>
</head>
<body>
<section class="container-fluid">
    <section class="main-content">
        <header class="header bg-white">
            <div class="btn-group tool-button">
                <a class="btn btn-primary navbar-btn" href="${base}/sys/role/index.action"><i class="fa fa-arrow-left"></i>返回</a>
            </div>
        </header>
    <div class="content-wrap">
            <div class="wrapper" style="min-height:500px;">
                <section class="panel">
                    <form id="addForm" role="form" class="form-horizontal"  method="post">
                        <div class="form-group">
                            <label for="roldName" class="col-sm-2 control-label">角色名称</label>
                            <div class="col-sm-8">
                                <input type="text" id="roldName"   class="form-control" name="roldName" placeholder="角色名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="roleCode" class="col-sm-2 control-label">角色标识</label>
                            <div class="col-sm-8">
                                <input type="text" id="roleCode" class="form-control" name="roleCode" placeholder="角色标识">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="des" class="col-sm-2 control-label">角色描述</label>
                            <div class="col-sm-8">
                                <input type="text" id="des" class="form-control" name="des" placeholder="角色描述">
                            </div>
                        </div>

                        <div class="form-group" align="center">
                            <button type="button" onclick="addMenu()" class="btn btn-primary " style="width: 8%;">确定</button>
                            <button type="button" class="btn btn-danger" style="width: 8%;">重置表单</button>
                        </div>

                    </form>
                </section>
            </div>
        </div>
    </section>

</section>
</body>
<script>
function addMenu() {
    $('#addForm').bootstrapValidator('validate');

    var valid = $('#addForm').data('bootstrapValidator').isValid();
    if(!valid){
        return false;
    }
    ajaxRequest($('#addForm').serialize(),'${base}/sys/role/addRole.action',  //后台 新增角色的路径
        function (data) {
            if(data.success){
                countDown(data.msg,'${base}/sys/role/index.action')       //返回角色管理主页
            }else{
                Toast.error(data.msg);
            }
        })
}
$(function () {
    validator();
})
function validator(){
    //输入项的验证
    $('#addForm').bootstrapValidator({
        message: '输入值不满足不满足系统要求',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        live: 'enabled',
        fields: {
            roldName: {
                message: '用户角色验证失败',
                validators: {
                    notEmpty: {
                        message: '角色不能为空'
                    }
                },

            },
            roleCode: {
                message: '角色标识不能为空',
                validators: {
                    notEmpty: {
                        message: '角色标识不能为空'
                    },
                    regexp: {
                        regexp: /^\w+$/,
                        message: '权限代码不能含有中文'
                    }
                }

            }
        }
    });
}
</script>
</html>