<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<section class="container-fluid">
    <section class="main-content">
        <div class="content-wrap">
            <div class="wrapper">
                <section class="panel">
                    <form id="addForm" role="form" class="form-horizontal"  method="post">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名称</label>
                            <div class="col-sm-8">
                                <input type="text" id="username" disabled  class="form-control" name="username" value="${user.username}" placeholder="角色名称">
                                <input type="hidden" name="userid" value="${user.userid}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-8">
                                <input type="password" id="password" class="form-control" name="password" placeholder="输入密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm" class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-8">
                                <input type="password" id="confirm" class="form-control" name="confirm" placeholder="输入确认密码">
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>

</section>
</body>
<script>
    function addMenu(editBack) {
        $('#addForm').bootstrapValidator('validate');

        var valid = $('#addForm').data('bootstrapValidator').isValid();
        if(!valid){
            return false;
        }
        ajaxRequest($('#addForm').serialize(),base+'/sys/user/editUser.action',  //后台 新增角色的路径
            function (data) {
                if(data.success){
                   successDialog(editBack)     //返回主页
                }else{
                    Toast.error(data.msg);
                }
            })
    }
    $(function () {
        validator();
    })
    function validator(){
        //输入项的验证
        $('#addForm').bootstrapValidator({
            message: '输入值不满足不满足系统要求',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            live: 'enabled',
            fields: {
                password: {
                    message: '用户旧密码不满足系统要求',
                    validators: {
                        notEmpty: {
                            message: '用户密码不能为空'
                        },
                        stringLength: {
                            min: 8,
                            max: 50,
                            message: '用户密码长度不能少于8位'
                        },
                        regexp: {
                            regexp: /^[^ ]+$/,
                            message: '用户密码不能有空格'
                        }
                    }

                },

                confirm: {
                    message:'新密码不满足系统要求',
                    validators: {
                        notEmpty: {
                            message: '用户确认密码不能为空'

                        },
                        identical: {
                            field: 'password',
                            message: '用户新密码与确认密码不一致！'
                        },
                        stringLength: {
                            min: 8,
                            max: 50,
                            message: '用户新密码长度不能少于8位'
                        }
                    }

                },
            }
        });
    }

</script>
</html>