<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--配置视图解析器 FreeMarker-->
    <bean id="FreeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="contentType" value="text/html;charset=utf-8"/>
        <property name="order" value="0"/>
        <property name="suffix" value=".html"/>  <!-- 后缀 -->
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <!--在html页面只需要req获取项目路径 ${req.contextPath}-->
        <property name="requestContextAttribute" value="req" />

    </bean>


    <!--自动扫描controller-->
    <context:component-scan base-package="com.huang.*">
    </context:component-scan>
    <!-- 启动Springmvc注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 返回json  需要导入 fastjson.jar包 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="false">
            <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
            <bean id="fastJsonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <!-- 这里顺序不能反，一定先写text/html,不然ie下出现下载提示 -->
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <mvc:default-servlet-handler />
    <!-- 配置文件上传类型解析器 multipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 默认编码 -->
        <property name="defaultEncoding" value="utf-8" />
        <!-- 文件大小最大值 -->
        <property name="maxUploadSize" value="10485760000" />
        <!-- 内存中的最大值 -->
        <property name="maxInMemorySize" value="40960"/>
    </bean>


<!--启用aop注解-->
    <aop:aspectj-autoproxy proxy-target-class="true">
    </aop:aspectj-autoproxy>


    <!--定义Spring的线程池-->
    <bean id="threadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="4"></property>
        <property name="maxPoolSize" value="10"></property>
        <property name="keepAliveSeconds" value="60"></property>
        <property name="queueCapacity" value="50"></property>
        <property name="allowCoreThreadTimeOut" value="true"></property>
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor.DiscardOldestPolicy"></bean>
        </property>
    </bean>

    <!--定义java自己的线程池-->
    <bean id="threadPoolExecutor" class="java.util.concurrent.ThreadPoolExecutor">
        <constructor-arg index="0"  value="4"></constructor-arg>
        <constructor-arg index="1"   value="10"></constructor-arg>
        <constructor-arg index="2"   value="60"></constructor-arg>
        <constructor-arg index="3" type="java.util.concurrent.TimeUnit" value="SECONDS"></constructor-arg>
        <constructor-arg index="4" >
            <bean class="java.util.concurrent.LinkedBlockingQueue"></bean>
        </constructor-arg>
    </bean>


    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>

</beans>
